@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgba(255, 255, 255, 1);
    height: 100vh;
    width: 100vw;
   

}
.first-line{
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin: 20px;
  
}
.rame{
    display: flex;
    gap:10px
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color:  #1D2026;;
    display: block;
    transition: 0.3s;
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
 
 

  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    
    font-size: 36px;
    color:#69707D;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .image{
    
    width: 100%;
  }
  #images{
    display: flex;
  }
  .sneaker-company{
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.8461538553237915px;
    text-align: left;
    color: rgba(255, 126, 27, 1);
    margin-bottom: 20px;


  }
  h1{
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;

  }
  .long-text{
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(105, 112, 125, 1);
    margin-bottom: 28px;

  }
  .percent{
    height: 27px;
    width: 51px;
    left: 0px;
    top: 0px;
    border-radius: 6px;
    background: #FFEEE2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;

  }
  .percent-amount{
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #FF7E1B;
      }
  .price-before{
    text-decoration: line-through;
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #B6BCC8;

  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .right-arrow{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 319px;
    top: 198px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 16px;
    top: 198px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;

  }
  .image-content{
    overflow: hidden;
  }
  .after-pic{
    padding: 24px;
  }
  .item-amount{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    width: 327px;
    border-radius: 10px;
    background: #F6F8FD;
    margin-bottom: 16px;
  }
  #minus{
    height: 3px;
    width: 12px;
  }
  #plus{
    height: 13px;
    width: 13px;
  }
  .add-to-card{
    height: 56px;
    width: 327px;
    border-radius: 10px;
    background: #FF7E1B;
    box-shadow: 0px 20px 50px -20px #FF7E1B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .add{
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: white;

  }
  .cart{
    height: 256px;
    width: 360px;
    border-radius: 10px;
    background: white;
    padding: 24px;
    position: absolute;
    top: 75px;
    left: 7px;
    display: none;

  }
  .cart-header{
    font-family: 'Kumbh Sans',sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 23px;

  }
  .cart-text1{
    font-family: 'Kumbh Sans',sans-serif;
  font-size: 16px;
  font-weight: 700;
  
  letter-spacing: 0px;
  text-align: center;
  color: #69707D;

  }
  .section2{
    display: flex;
    height: 180px;
    justify-content: center;
    align-items: center;
  }
  .cart-items {
    
    height: 188px;
    width: 360px;
    padding: 24px;
    background: white;
    border-radius: 8px;
    position: absolute;
    top: 143px;
    left: 7px;
    display: none;
  }
.cart-text{
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #69707D;

}
.first-line1{
      display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 24px;
}
#trash{
  height: 16px;
  width: 14px;
}
.overall-price{
  font-family: 'Kumbh Sans',sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #1D2026;
}
.add-to-checkout{
  height: 56px;
  width: 312px;
  border-radius: 10px;
  border-radius: 10px;
  background: #FF7E1B;
  box-shadow: 0px 20px 50px -20px #FF7E1B;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;              

}
#icon-cart{
  
}
.icon-and-count{
  position: relative;
}


.count-div-cart{
  height: 13px;
width: 19px;
display: none;
justify-content: center;
align-items: center;
border-radius: 6.5px;
background: #FF7E1B;
color: white;
font-family: 'Kumbh Sans',sans-serif;
font-size: 10px;
font-weight: 700;
line-height: 12px;
letter-spacing: 0px;
text-align: left;
position: absolute;
top: -5px;
left: 10px;


}